.cursorBranco{
  color:#FFF;
  font-family: "Montserrat";
  font-size: 12px;
  cursor: pointer;
  margin: 5px;
}

.tittleHeader{
  color:#2E2E2E;
  font-family: "Montserrat";
  font-size: 16px;
  margin: 5px;
}

.labelHeader{
  color:#2E2E2E;
  font-family: "Montserrat";
  font-size: 12px;
  margin: 5px;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}